.login{
	margin: 30px;
	height: 50px;
	font-size: 20px;
	width: 30%;
	background: rgb(167, 223, 83);
	color: rgb(39, 36, 36);
	border: 2px solid  rgb(5, 192, 5);
}

.login:hover{
background-color: rgb(166, 202, 81);
}

.login:active{
	border: none;
}

@media (max-width: 600px) {
	.login {
		font-size: 16px;
		width: 45%;
	}
}