.box{
	display: flex;
	width: 100%;
}

.img{
	width: 35%;
}

.title{
	font-family: 'Times New Roman', Times, serif;
	font-size: 32px;
	font-weight: 700;
	margin-left:30px;
}

.description{
	width: 60%;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h2{
font-size: 20px;
font-weight: 600;
}